
*:not(.logo_container){
  box-sizing: border-box;
}

body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a{
  text-decoration: none;
  color: black;
}

.App{
  height: 100vh;
  display: flex;
  flex-direction: column;

  .homepage{
    flex-grow: 1;
  }
}